/vistas/uploads/pregunta/*
vistas/uploads/pregunta/*
/vistas//uploads/pregunta/
vistas/uploads/pregunta/


/vistas//uploads/respuesta/
vistas/uploads/respuesta/
/vistas//uploads/respuesta/*
vistas/uploads/respuesta/*
vistas\uploads\pregunta\
\vistas\uploads\pregunta\


# for Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/vendor/